__pycache__

*.csv.gz
*.csv
*.aux
*.log
*.toc
*.out
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.nav
*.snm
*.vrb
*.xdv
*.dvi
*.ps
*.thm
*.acn
*.glo
*.ist
*.acr
*.alg
*.glg
*.gls
*.ilg
*.ind
*.inx
*.ttt
*.fff
*.mw
*.bak
*.backup
*.tmp
*.eps
*.svg
*.run.xml
